body{
    background-color: pink;
    font-size: 32px;
    color:whitesmoke;
    margin: 0;
}
.outer1{
    height: 200px;
    background-color: blue;
    /*   padding-top: 25px; */
    /*   padding-right: 25px; */
    /*   padding-bottom: 25px; */
    /*   padding-left: 25px; */
    /* padding: 25px;  pe toate 4 parti  */
    /* padding: 25px 25px;  pe verticala,  pe orizontala  */
    /* padding: 25px 25px 25px;  1=partea de sus, 2=pe orizontala, 3=jos */
    /* padding: 2px 25px 35px 42px;  incepind cu SUS si dupa ceas   */

    margin: 0 auto 10px;
    width: 90%;
    border-top: 10px solid black;
}

.outer2{
    height: 200px;
    background-color: green;
    margin-top: 20px;
}
.inner1{
    height: 100px;
    background-color: red;
    width: 80%;
    margin: 14px auto 0;
}
